/****************** Linked List Display Styles ******************/
.ll_display{
    height: 100%;
    justify-content: center;
    align-items: center;
 
}

.ll_node{
    position: relative;
    border-radius: 50%;
    border: 1px solid var(--color-1);
    
    width:4em;
    height:4em;
    /* centers text vertically on a fixed container */
    line-height:4em; 
    margin-right: 3em;

}
.ll_node:last-child{
    margin-right: 0;
}

.ll_pointer{
    position: absolute;
    right: -69%;
    top: 22%;
    font-size: 3.5rem;
}



/****************** END Linked List Display Styles ******************/
