:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Variables */
  --bg-color: #242424;
  --color-1: rgba(255, 255, 255, 0.87);
  --color-2: #00b530;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/***************** Tag Styles *****************/

a,
button {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-2);
}

a:hover,
button:hover{
  color: var(--color-1);
}

/***************** END Tag Styles *****************/

/***************** Sub Classes *****************/
.sm_font {
  font-size: 1.15rem;
}
.md_font {
  font-size: 1.25rem;
}
.lg_font {
  font-size: 1.5rem;
}

.center_text {
  text-align: center;
}

.flex_row {
  display: flex;
  flex-direction: row;
}
/***************** END Sub Classes *****************/
