@use 'util';
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/***************** All Styling *****************/
* {
  box-sizing: border-box;
  margin: 0;
}

/***************** Tag Styles *****************/

a,
button {
  text-decoration: none;
  cursor: pointer;
  color: util.$color-2;
}

a:hover,
button:hover {
  color: util.$color-1;
}

/***************** END Tag Styles *****************/
/***************** Sub Classes *****************/
.new_el{
  color: util.$new-el;
  border-color: util.$new-el;
}
.selected_el{
  color: util.$selected-el;
  border-color: util.$selected-el;
}
.removed_el{
  color: util.$removed-el;
  border-color: util.$removed-el;
}

/***************** END Sub Classes *****************/
